<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnTtBbEJP1nxtne33BqhQxdQND19V1_ag</string>
	<key>GCM_SENDER_ID</key>
	<string>65851254027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CrowellLani.MangaDoge</string>
	<key>PROJECT_ID</key>
	<string>mangadoge-4d5aa</string>
	<key>STORAGE_BUCKET</key>
	<string>mangadoge-4d5aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65851254027:ios:871da8477b8714539a2e0e</string>
</dict>
</plist>